<ul class="flex m-10 mb-0">
    <li 
        class="mx-5 p-5"
        *ngFor="let tab of tabs" 
        (click)="setCurrentTab(tab.id)"
        [class.text-blue-500]="currentTab === tab.id"
        [class.border-b-2]="currentTab === tab.id"
    >{{tab.label}}</li>
</ul>

<section class="">
    <gmbl-gp-levels [class.hidden]="currentTab !== 1"></gmbl-gp-levels>
    <gmbl-challenges [class.hidden]="currentTab !== 2"></gmbl-challenges>
    <gmbl-quests [class.hidden]="currentTab !== 3"></gmbl-quests>
</section>