<p>challenges works!</p>
<div class="cards__conatiner flex flex-wrap p-4">
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
    <gmbl-game-card class="w-full md:w-1/3 p-4"></gmbl-game-card>
</div>
